controller/.node-red/flows_controller.json
[{"type":"tab","id":"d3d2d415.2c2d28","label":"Sheet 1"},{"id":"74283063.8bd7d","type":"mqtt-broker","z":"d3d2d415.2c2d28","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"b412a90.f4bed58","type":"websocket-listener","z":"d3d2d415.2c2d28","path":"/ws/capture/","wholemsg":"false"},{"id":"e59e7b38.1a6188","type":"websocket-listener","z":"d3d2d415.2c2d28","path":"/ws/debug/","wholemsg":"false"},{"id":"28404b00.d7bfb4","type":"websocket-listener","z":"d3d2d415.2c2d28","path":"/ws/shutdown/","wholemsg":"false"},{"id":"ee1d3e5f.11e2c","type":"websocket-listener","z":"d3d2d415.2c2d28","path":"/ws/config/A/","wholemsg":"false"},{"id":"cfe3ef46.301c1","type":"websocket-listener","z":"d3d2d415.2c2d28","path":"/ws/config/B/","wholemsg":"false"},{"id":"ffe20dc6.001df","type":"websocket-listener","z":"d3d2d415.2c2d28","path":"/ws/config/C/","wholemsg":"false"},{"id":"4b14555c.b4ebac","type":"websocket-listener","z":"d3d2d415.2c2d28","path":"/ws/config/D/","wholemsg":"false"},{"id":"8417400f.7be8c","type":"mqtt out","z":"d3d2d415.2c2d28","name":"capture","topic":"capture","qos":"1","retain":"","broker":"74283063.8bd7d","x":833,"y":313,"wires":[]},{"id":"d1bd062a.2e42f8","type":"mqtt out","z":"d3d2d415.2c2d28","name":"shutdown","topic":"shutdown","qos":"0","retain":"false","broker":"74283063.8bd7d","x":842,"y":459,"wires":[]},{"id":"31728118.ce8d7e","type":"websocket in","z":"d3d2d415.2c2d28","name":"","server":"b412a90.f4bed58","client":"","x":562,"y":311,"wires":[["8417400f.7be8c"]]},{"id":"84541297.7babf","type":"mqtt in","z":"d3d2d415.2c2d28","name":"debug","topic":"debug","broker":"74283063.8bd7d","x":555,"y":175,"wires":[["b1505e22.4eafa"]]},{"id":"11244d1b.eedbb3","type":"mqtt out","z":"d3d2d415.2c2d28","name":"A","topic":"settings/A/","qos":"0","retain":"false","broker":"74283063.8bd7d","x":868,"y":672,"wires":[]},{"id":"b1505e22.4eafa","type":"websocket out","z":"d3d2d415.2c2d28","name":"/ws/debug/","server":"e59e7b38.1a6188","client":"","x":850,"y":176,"wires":[]},{"id":"16c2feaf.e93d01","type":"websocket in","z":"d3d2d415.2c2d28","name":"","server":"28404b00.d7bfb4","client":"","x":541,"y":461,"wires":[["d1bd062a.2e42f8","27923f12.d86dc"]]},{"id":"27923f12.d86dc","type":"exec","z":"d3d2d415.2c2d28","command":"sudo shutdown -h now","addpay":true,"append":"","useSpawn":"","name":"","x":838,"y":564,"wires":[[],[],[]]},{"id":"dced7749.231288","type":"inject","z":"d3d2d415.2c2d28","name":"","topic":"","payload":"{\"setting\":\"exposure\",\"value\":100}","payloadType":"string","repeat":"","crontab":"","once":false,"x":554,"y":604,"wires":[["11244d1b.eedbb3"]]},{"id":"a3752d04.5c8ad","type":"inject","z":"d3d2d415.2c2d28","name":"","topic":"","payload":"{\"setting\":\"exposure\",\"value\":-100}","payloadType":"string","repeat":"","crontab":"","once":false,"x":566,"y":553,"wires":[["11244d1b.eedbb3"]]},{"id":"fca52090.035ae","type":"mqtt out","z":"d3d2d415.2c2d28","name":"B","topic":"settings/B/","qos":"0","retain":"false","broker":"74283063.8bd7d","x":869,"y":721,"wires":[]},{"id":"ecd69a50.132968","type":"mqtt out","z":"d3d2d415.2c2d28","name":"C","topic":"settings/C/","qos":"0","retain":"false","broker":"74283063.8bd7d","x":869,"y":769,"wires":[]},{"id":"536d24d1.ac92dc","type":"mqtt out","z":"d3d2d415.2c2d28","name":"D","topic":"settings/D/","qos":"0","retain":"false","broker":"74283063.8bd7d","x":868,"y":821,"wires":[]},{"id":"315ab039.cea55","type":"websocket in","z":"d3d2d415.2c2d28","name":"","server":"ee1d3e5f.11e2c","client":"","x":533,"y":677,"wires":[["11244d1b.eedbb3"]]},{"id":"6a613981.959ec8","type":"websocket in","z":"d3d2d415.2c2d28","name":"","server":"cfe3ef46.301c1","client":"","x":533,"y":722,"wires":[["fca52090.035ae"]]},{"id":"558d440e.aa72bc","type":"websocket in","z":"d3d2d415.2c2d28","name":"","server":"ffe20dc6.001df","client":"","x":539,"y":763,"wires":[["ecd69a50.132968"]]},{"id":"c97cc5e1.368338","type":"websocket in","z":"d3d2d415.2c2d28","name":"","server":"4b14555c.b4ebac","client":"","x":544,"y":810,"wires":[["536d24d1.ac92dc"]]}]